:root {
  /* MY SHIT STARTS HERE */

  .recharts-wrapper .recharts-cartesian-grid-horizontal line:last-child {
    stroke-opacity: 0 !important;
  }

  --platinum: #e6e8e6ff;
  --timberwolf: #ced0ceff;
  --ash-gray: #9fb8adff;
  --feldgrau: #475841ff;
  --onyx: #3f403fff;

  --dark-green: #1b3022ff;
  --dark-slate-gray: #395756ff;
  --cadet-gray: #99a1a6ff;
  --celadon: #a8c69fff;
  --tea-green: #cce2a3ff;

  /* MY SHIT STOPS HERE */
}
