# These values should be changed to secure your installation
x-database-password: &db_password "root"
x-jwt-secret: &jwt_secret "CHANGE ME"
x-interservice-authentication-key: &interservice_authentication_key "CHANGE ME"

# Update these variables to your desired defaults. The username stuff isn't exactly "implemented"
# (authentication exists, but there's no UI for it yet), but they're here for future use. There 
# might be issues down the line if you don't change them before running this for the first time.
# Think of them as intelligent placeholders.
x-default-user-name: &default_user_name "dev-test"
x-default-user-email: &default_user_email "dev-test@example.com"
x-default-user-password: &default_user_password "password"

# The rest of these strings are environment variables for the containers. Modify as needed,
# but keep in mind that some are used relevant when *building* the images (like the VITE_* vars
# for the client), while others are used at runtime.
x-base-environment: &base_env
  TZ: "America/Los_Angeles"
  NODE_ENV: "production"

# Grabbed from env - the build step for the github action sets this variable
x-client-args: &client_env
  VITE_VERSION: "${VITE_VERSION:-0.0.0}"
  VITE_API_SERVER_URL: ""

x-server-environment: &server_env
  <<: 
    - *base_env
  LOG_DEBUG: "false"
  DEFAULT_USER: *default_user_name
  DEFAULT_USER_EMAIL: *default_user_email
  DEFAULT_USER_PASSWORD: *default_user_password
  AUTHENTICATION_ENABLED: "false"
  JWT_SECRET: *jwt_secret
  JWT_EXPIRATION: "259200000"
  DATABASE_HOST: "127.0.0.1"
  DATABASE_PORT: "3306"
  DATABASE_USER: "root"
  DATABASE_PASSWORD: *db_password
  INTERSERVICE_AUTHENTICATION_KEY: *interservice_authentication_key
  BACKUP_RETENTION_DAYS: "30"

services:
  server:
    restart: unless-stopped
    depends_on:
      - db
    image: ghcr.io/ipswich/sproot-server:latest
    build:
      context: ./
      dockerfile: ./server/Dockerfile
    environment: *server_env
    volumes:
      - /run/udev:/run/udev:ro
      - /sys:/sys
      - ./docker_volumes/sproot/server/logs:/sproot/server/logs
      - ./docker_volumes/sproot/server/images:/sproot/server/images
      - ./docker_volumes/sproot/server/certs:/sproot/server/certs
      - ./docker_volumes/sproot/server/backups:/sproot/server/backups
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0
    group_add:
      - dialout
    tty: true
    network_mode: "host"
    expose:
      - "3000"
    privileged: true
  
  client:
    restart: unless-stopped
    depends_on:
      - server
    image: ghcr.io/ipswich/sproot-client:latest
    build:
      context: ./
      dockerfile: ./gateway/Dockerfile
      args: *client_env
    environment: *base_env
    volumes:
      - ./docker_volumes/sproot/gateway/logs:/sproot/logs
    network_mode: "host"
    expose:
      - "80"

  db:
    image: mariadb:11.5.2-noble
    restart: unless-stopped
    environment:
      MARIADB_ROOT_PASSWORD: *db_password
    volumes:
      - ./docker_volumes/mariadb/data:/var/lib/mysql
    network_mode: "host"
    expose:
      - "3306"

  phpmyadmin:
    image: phpmyadmin:5.2.1-apache
    restart: unless-stopped
    network_mode: "host"
    expose:
      - "3001"
    environment:
      APACHE_PORT: 3001
      PMA_HOST: 127.0.0.1
      UPLOAD_LIMIT: 500M
      
